{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Invited by Friend{% endblock %}

{% block body %}

		<div class="inviteby-wrap fos-wrap">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">	
					<div class="panel panel-default">
						<div class="panel-body text-center">
							{{ form_start(form) }}
							{{ form_row(form.groupToken) }}
							{{ form_row(form.send) }}
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		{% for flashMessage in app.session.flashbag.get('notice') %}
	        <section class="flash-wrapper">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-6 col-md-offset-3">
	                        <div class="flash-notice">
	                            <div class="alert alert-danger text-center" role="alert">
	                                {{ flashMessage }}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	    {% endfor %}


{% endblock %}
